* {
  margin: 0;
  box-sizing: border-box;
  --max-width: 1200px;
  --progress-complete-color: #31e449;
  --container-bg-color: #bc82b7;
  --step-text-color: #414141;
  --step-form-title-color: #ffffff;
  --input-text-color: #ebebeb;
  --input-bg-color: rgba(0, 0, 0, 0.58);
  --btn-bg-primary-color: #63008d;
  --btn-text-primary-color: #d1d1d1;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to bottom left,
    #b861c5 0%,
    #a859b4 30%,
    #440061 100%
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  min-height: 100vh;
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0));
  width: 100%;
}

.header__content-container {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 10px 10px 20px 10px;
}

.logo__icon {
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.logo__text {
  color: white;
  font-size: 25px;
}

main {
  height: 100%;
  width: 100vw;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  fill: white;
}

/* Progress Bar Styles */
.progress__container {
  display: flex;
  align-items: center;
}

.progress__icon {
  width: 30px;
  height: 30px;
  z-index: 10;
  border-radius: 100%;
  border: 2px solid #a859b4;
}

.progress_bar {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.translate__left {
  transform: translateX(-2%);
}

.progress__step {
  display: flex;
  align-items: center;
}

.progress__active {
  fill: var(--progress-complete-color);
}

/* Form Styles */
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > p,
h2,
h3 {
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 30px auto;
  background-color: var(--container-bg-color);
  box-shadow: 0px 56px 99px rgba(0, 0, 0, 0.36);
}

.form__step {
  color: var(--step-text-color);
  font-size: 18px;
  font-weight: bolder;
}

.form__title {
  color: var(--step-form-title-color);
  font-weight: 500;
}

.form__inputs {
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-top: 30px;
}

.form__input {
  padding: 15px;
  background-color: var(--input-bg-color);
  border: none;
  color: var(--input-text-color);
  width: 100%;
}
.form__input:not(:last-child) {
  margin-bottom: 15px;
}

.form__input:focus {
  outline: none;
}
.form__input::placeholder {
  color: #a7a7a7;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}

.form__btn {
  color: var(--btn-text-primary-color);
  background-color: var(--btn-bg-primary-color);
  border: none;
  padding: 10px 0;
  width: 45%;
  cursor: pointer;
  margin: 10px 0;
}

.form__btn:active {
  opacity: 0.8 !important;
}

.form__btn:hover {
  opacity: 0.98;
}

[data-step-active="false"] {
  opacity: 0;
  pointer-events: none;
}

[data-step-active="true"] {
  opacity: 1;
  pointer-events: all;
}
